@model Product

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Product Name: @Model.Title</h5>
        <h5 class="card-title">Product Category: @Model.Category.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">Product Id: @Model.ProductId</h6>
        <h6 class="card-subtitle mb-2 text-muted">Product Quantity: @Model.Quantity</h6>
        <h6 class="card-subtitle mb-2 text-muted">Product Description: @Model. Description</h6>
        <a href="~/Product/Index" class="btn btn-secondary my-3">Back</a>
    </div>
</div>
